<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bg_day</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{288,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{288,512}}</string>
			<key>sourceSize</key>
			<string>{288,512}</string>
		</dict>
		<key>bg_night</key>
		<dict>
			<key>frame</key>
			<string>{{292,0},{288,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{288,512}}</string>
			<key>sourceSize</key>
			<string>{288,512}</string>
		</dict>
		<key>bird0_0</key>
		<dict>
			<key>frame</key>
			<string>{{0,969},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>bird0_1</key>
		<dict>
			<key>frame</key>
			<string>{{56,969},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>bird0_2</key>
		<dict>
			<key>frame</key>
			<string>{{112,969},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>bird1_0</key>
		<dict>
			<key>frame</key>
			<string>{{168,969},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>bird1_1</key>
		<dict>
			<key>frame</key>
			<string>{{224,646},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>bird1_2</key>
		<dict>
			<key>frame</key>
			<string>{{224,697},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>bird2_0</key>
		<dict>
			<key>frame</key>
			<string>{{224,750},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>bird2_1</key>
		<dict>
			<key>frame</key>
			<string>{{224,801},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>bird2_2</key>
		<dict>
			<key>frame</key>
			<string>{{224,854},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>black</key>
		<dict>
			<key>frame</key>
			<string>{{584,412},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>blink_00</key>
		<dict>
			<key>frame</key>
			<string>{{276,681},{10,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,10}}</string>
			<key>sourceSize</key>
			<string>{10,10}</string>
		</dict>
		<key>blink_01</key>
		<dict>
			<key>frame</key>
			<string>{{276,734},{10,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,10}}</string>
			<key>sourceSize</key>
			<string>{10,10}</string>
		</dict>
		<key>blink_02</key>
		<dict>
			<key>frame</key>
			<string>{{276,785},{10,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,10}}</string>
			<key>sourceSize</key>
			<string>{10,10}</string>
		</dict>
		<key>brand_copyright</key>
		<dict>
			<key>frame</key>
			<string>{{884,182},{126,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,14}}</string>
			<key>sourceSize</key>
			<string>{126,14}</string>
		</dict>
		<key>button_menu</key>
		<dict>
			<key>frame</key>
			<string>{{924,52},{80,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,28}}</string>
			<key>sourceSize</key>
			<string>{80,28}</string>
		</dict>
		<key>button_ok</key>
		<dict>
			<key>frame</key>
			<string>{{924,84},{80,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,28}}</string>
			<key>sourceSize</key>
			<string>{80,28}</string>
		</dict>
		<key>button_pause</key>
		<dict>
			<key>frame</key>
			<string>{{241,612},{26,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,28}}</string>
			<key>sourceSize</key>
			<string>{26,28}</string>
		</dict>
		<key>button_play</key>
		<dict>
			<key>frame</key>
			<string>{{702,233},{116,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,70}}</string>
			<key>sourceSize</key>
			<string>{116,70}</string>
		</dict>
		<key>button_rate</key>
		<dict>
			<key>frame</key>
			<string>{{924,0},{74,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,48}}</string>
			<key>sourceSize</key>
			<string>{74,48}</string>
		</dict>
		<key>button_resume</key>
		<dict>
			<key>frame</key>
			<string>{{668,284},{26,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,28}}</string>
			<key>sourceSize</key>
			<string>{26,28}</string>
		</dict>
		<key>button_score</key>
		<dict>
			<key>frame</key>
			<string>{{822,233},{116,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,70}}</string>
			<key>sourceSize</key>
			<string>{116,70}</string>
		</dict>
		<key>button_share</key>
		<dict>
			<key>frame</key>
			<string>{{584,284},{80,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,28}}</string>
			<key>sourceSize</key>
			<string>{80,28}</string>
		</dict>
		<key>font_0</key>
		<dict>
			<key>frame</key>
			<string>{{992,116},{24,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,44}}</string>
			<key>sourceSize</key>
			<string>{24,44}</string>
		</dict>
		<key>font_1</key>
		<dict>
			<key>frame</key>
			<string>{{272,905},{16,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,44}}</string>
			<key>sourceSize</key>
			<string>{16,44}</string>
		</dict>
		<key>font_2</key>
		<dict>
			<key>frame</key>
			<string>{{584,316},{24,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,44}}</string>
			<key>sourceSize</key>
			<string>{24,44}</string>
		</dict>
		<key>font_3</key>
		<dict>
			<key>frame</key>
			<string>{{612,316},{24,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,44}}</string>
			<key>sourceSize</key>
			<string>{24,44}</string>
		</dict>
		<key>font_4</key>
		<dict>
			<key>frame</key>
			<string>{{640,316},{24,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,44}}</string>
			<key>sourceSize</key>
			<string>{24,44}</string>
		</dict>
		<key>font_5</key>
		<dict>
			<key>frame</key>
			<string>{{668,316},{24,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,44}}</string>
			<key>sourceSize</key>
			<string>{24,44}</string>
		</dict>
		<key>font_6</key>
		<dict>
			<key>frame</key>
			<string>{{584,364},{24,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,44}}</string>
			<key>sourceSize</key>
			<string>{24,44}</string>
		</dict>
		<key>font_7</key>
		<dict>
			<key>frame</key>
			<string>{{612,364},{24,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,44}}</string>
			<key>sourceSize</key>
			<string>{24,44}</string>
		</dict>
		<key>font_8</key>
		<dict>
			<key>frame</key>
			<string>{{640,364},{24,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,44}}</string>
			<key>sourceSize</key>
			<string>{24,44}</string>
		</dict>
		<key>font_9</key>
		<dict>
			<key>frame</key>
			<string>{{668,364},{24,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,44}}</string>
			<key>sourceSize</key>
			<string>{24,44}</string>
		</dict>
		<key>land</key>
		<dict>
			<key>frame</key>
			<string>{{584,0},{336,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{336,112}}</string>
			<key>sourceSize</key>
			<string>{336,112}</string>
		</dict>
		<key>medals_0</key>
		<dict>
			<key>frame</key>
			<string>{{241,516},{44,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,44}}</string>
			<key>sourceSize</key>
			<string>{44,44}</string>
		</dict>
		<key>medals_1</key>
		<dict>
			<key>frame</key>
			<string>{{241,564},{44,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,44}}</string>
			<key>sourceSize</key>
			<string>{44,44}</string>
		</dict>
		<key>medals_2</key>
		<dict>
			<key>frame</key>
			<string>{{224,905},{44,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,44}}</string>
			<key>sourceSize</key>
			<string>{44,44}</string>
		</dict>
		<key>medals_3</key>
		<dict>
			<key>frame</key>
			<string>{{224,953},{44,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,44}}</string>
			<key>sourceSize</key>
			<string>{44,44}</string>
		</dict>
		<key>new</key>
		<dict>
			<key>frame</key>
			<string>{{224,1001},{32,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,14}}</string>
			<key>sourceSize</key>
			<string>{32,14}</string>
		</dict>
		<key>number_context_00</key>
		<dict>
			<key>frame</key>
			<string>{{276,646},{12,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,14}}</string>
			<key>sourceSize</key>
			<string>{12,14}</string>
		</dict>
		<key>number_context_01</key>
		<dict>
			<key>frame</key>
			<string>{{276,664},{12,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,14}}</string>
			<key>sourceSize</key>
			<string>{12,14}</string>
		</dict>
		<key>number_context_02</key>
		<dict>
			<key>frame</key>
			<string>{{276,697},{12,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,14}}</string>
			<key>sourceSize</key>
			<string>{12,14}</string>
		</dict>
		<key>number_context_03</key>
		<dict>
			<key>frame</key>
			<string>{{276,716},{12,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,14}}</string>
			<key>sourceSize</key>
			<string>{12,14}</string>
		</dict>
		<key>number_context_04</key>
		<dict>
			<key>frame</key>
			<string>{{276,750},{12,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,14}}</string>
			<key>sourceSize</key>
			<string>{12,14}</string>
		</dict>
		<key>number_context_05</key>
		<dict>
			<key>frame</key>
			<string>{{276,768},{12,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,14}}</string>
			<key>sourceSize</key>
			<string>{12,14}</string>
		</dict>
		<key>number_context_06</key>
		<dict>
			<key>frame</key>
			<string>{{276,801},{12,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,14}}</string>
			<key>sourceSize</key>
			<string>{12,14}</string>
		</dict>
		<key>number_context_07</key>
		<dict>
			<key>frame</key>
			<string>{{276,820},{12,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,14}}</string>
			<key>sourceSize</key>
			<string>{12,14}</string>
		</dict>
		<key>number_context_08</key>
		<dict>
			<key>frame</key>
			<string>{{276,854},{12,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,14}}</string>
			<key>sourceSize</key>
			<string>{12,14}</string>
		</dict>
		<key>number_context_09</key>
		<dict>
			<key>frame</key>
			<string>{{276,872},{12,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,14}}</string>
			<key>sourceSize</key>
			<string>{12,14}</string>
		</dict>
		<key>number_context_10</key>
		<dict>
			<key>frame</key>
			<string>{{992,164},{12,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,14}}</string>
			<key>sourceSize</key>
			<string>{12,14}</string>
		</dict>
		<key>number_score_00</key>
		<dict>
			<key>frame</key>
			<string>{{272,612},{16,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,20}}</string>
			<key>sourceSize</key>
			<string>{16,20}</string>
		</dict>
		<key>number_score_01</key>
		<dict>
			<key>frame</key>
			<string>{{272,953},{16,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,20}}</string>
			<key>sourceSize</key>
			<string>{16,20}</string>
		</dict>
		<key>number_score_02</key>
		<dict>
			<key>frame</key>
			<string>{{272,977},{16,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,20}}</string>
			<key>sourceSize</key>
			<string>{16,20}</string>
		</dict>
		<key>number_score_03</key>
		<dict>
			<key>frame</key>
			<string>{{260,1001},{16,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,20}}</string>
			<key>sourceSize</key>
			<string>{16,20}</string>
		</dict>
		<key>number_score_04</key>
		<dict>
			<key>frame</key>
			<string>{{1001,0},{16,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,20}}</string>
			<key>sourceSize</key>
			<string>{16,20}</string>
		</dict>
		<key>number_score_05</key>
		<dict>
			<key>frame</key>
			<string>{{1001,24},{16,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,20}}</string>
			<key>sourceSize</key>
			<string>{16,20}</string>
		</dict>
		<key>number_score_06</key>
		<dict>
			<key>frame</key>
			<string>{{1008,52},{16,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,20}}</string>
			<key>sourceSize</key>
			<string>{16,20}</string>
		</dict>
		<key>number_score_07</key>
		<dict>
			<key>frame</key>
			<string>{{1008,84},{16,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,20}}</string>
			<key>sourceSize</key>
			<string>{16,20}</string>
		</dict>
		<key>number_score_08</key>
		<dict>
			<key>frame</key>
			<string>{{584,484},{16,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,20}}</string>
			<key>sourceSize</key>
			<string>{16,20}</string>
		</dict>
		<key>number_score_09</key>
		<dict>
			<key>frame</key>
			<string>{{620,412},{16,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,20}}</string>
			<key>sourceSize</key>
			<string>{16,20}</string>
		</dict>
		<key>pipe2_down</key>
		<dict>
			<key>frame</key>
			<string>{{0,646},{52,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,320}}</string>
			<key>sourceSize</key>
			<string>{52,320}</string>
		</dict>
		<key>pipe2_up</key>
		<dict>
			<key>frame</key>
			<string>{{56,646},{52,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,320}}</string>
			<key>sourceSize</key>
			<string>{52,320}</string>
		</dict>
		<key>pipe_down</key>
		<dict>
			<key>frame</key>
			<string>{{112,646},{52,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,320}}</string>
			<key>sourceSize</key>
			<string>{52,320}</string>
		</dict>
		<key>pipe_up</key>
		<dict>
			<key>frame</key>
			<string>{{168,646},{52,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,320}}</string>
			<key>sourceSize</key>
			<string>{52,320}</string>
		</dict>
		<key>score_panel</key>
		<dict>
			<key>frame</key>
			<string>{{0,516},{238,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{238,126}}</string>
			<key>sourceSize</key>
			<string>{238,126}</string>
		</dict>
		<key>text_game_over</key>
		<dict>
			<key>frame</key>
			<string>{{784,116},{204,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{204,54}}</string>
			<key>sourceSize</key>
			<string>{204,54}</string>
		</dict>
		<key>text_ready</key>
		<dict>
			<key>frame</key>
			<string>{{584,116},{196,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{196,62}}</string>
			<key>sourceSize</key>
			<string>{196,62}</string>
		</dict>
		<key>title</key>
		<dict>
			<key>frame</key>
			<string>{{702,182},{178,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,48}}</string>
			<key>sourceSize</key>
			<string>{178,48}</string>
		</dict>
		<key>tutorial</key>
		<dict>
			<key>frame</key>
			<string>{{584,182},{114,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,98}}</string>
			<key>sourceSize</key>
			<string>{114,98}</string>
		</dict>
		<key>white</key>
		<dict>
			<key>frame</key>
			<string>{{584,448},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>atlas.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:e56ec5b51d77aa8dc4c5dcb4e2c3295f:1/1$</string>
		<key>textureFileName</key>
		<string>atlas.png</string>
	</dict>
</dict>
</plist>
